<table class="table table-striped table-hover events-table w-auto mx-auto">
  <thead class="table">
    <tr>
      <th scope="col">Event Name</th>
      <th scope="col">Event Type</th>
      <th scope="col">Event Date</th>
      <th scope="col">Event Location</th>
      <% if (session.person.role ==="admin" ) {%>
        <th scope="col" style="width:90px;">Delete</th>
        <th scope="col" style="width:90px;">Edit</th>
      <%}%>
    </tr>
  </thead>
  <tbody>
    <% for (eventinstance of eventinstances) { %>
      <tr>
        <td scope="row">
          <%= eventinstance.eventname %>
        </td>
        <td scope="row">
          <%= eventinstance.eventtype %>
        </td>
        <td scope="row">
          <%= new Date(eventinstance.eventstart).toLocaleDateString() %>
        </td>
        <td scope="row">
          <%= eventinstance.eventlocation %>
        </td>
        <% if (session.person.role ==="admin" ) {%>
          <td scope="row" class="action-cell">
            <form action="/events/edit/<%= eventinstance.eventid%>/<%= eventinstance.eventstart%>" method="GET">
              <input type="submit" name="edit" value="Edit" />
            </form>
          </td>
          <td scope="row" class="action-cell">
            <button onclick="deleteevent('<%= eventinstance.eventid %>', '<%= eventinstance.eventstart %>')">Delete</button>
          </td>
          
        <%}%>
      </tr>
    <% } %>
  </tbody>
</table>