<table class="table table-striped table-hover milestones-table w-auto mx-auto">
  <thead class="table">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Milestone Number</th>
      <th scope="col">Milestone Title</th>
      <th scope="col">Milestone Type</th>
      <th scope="col">Milestone Date</th>
      <% if (person.role ==="admin" ) {%>
        <th scope="col" style="width:90px;">Delete</th>
        <th scope="col" style="width:90px;">Edit</th>
      <%}%>
    </tr>
  </thead>
  <tbody>
    <% for (milestone of milestones) { %>
      <tr>
        <td scope="row">
          <%= milestone.firstname %>
        </td>
        <td scope="row">
          <%= milestone.lastname %>
        </td>
        <td scope="row">
          <%= milestone.milestonenumber %>
        </td>
        <td scope="row">
          <%= milestone.milestonetitle %>
        </td>
        <% const type = getMilestoneType(milestone.milestonetitle); %>
        <td scope="row">
            <% if (type === "Diploma") { %>
                Diploma
            <% } else if (type === "Project") { %>
                Project
            <% } else { %>
                Other
            <% } %>
        </td>
        <td scope="row">
          <%= new Date(milestone.milestonedate).toLocaleDateString() %>
        </td>
        <% if (person.role ==="admin" ) {%>
          <td scope="row" class="action-cell">
            <form action="/milestones/edit/<%= milestone.personid%>/<%= milestone.milestonenumber%>" method="GET">
              <input type="submit" name="edit" value="edit" />
            </form>
          </td>
          <td scope="row" class="action-cell">
            <button onclick="deleteevent('<%= milestone.personid %>', '<%= milestone.milestonenumber %>')">Delete</button>
          </td>
          
        <%}%>
      </tr>
    <% } %>
  </tbody>
</table>
