<div class="overflow-auto" style="max-height: 65vh;">
  <div class="table-responsive">
<table class="table table-hover align-middle mb-0 surveys-table w-auto mx-auto">
  <thead class="bg-danger-subtle text-danger-emphasis">
    <tr>
      <th scope="col">Person ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Event Name</th>
      <th scope="col">Event Date</th>
      <th scope="col">Satisfaction Score</th>
      <th scope="col">Usefulness Score</th>
      <th scope="col">Instructor Score</th>
      <th scope="col">Recommendation Score</th>
      <th scope="col">Overall Score</th>
      <% if (session.person.role ==="admin" ) {%>
        <th scope="col" class="text-end" style="width:180px;">Actions</th>
      <%}%>
    </tr>
  </thead>
  <tbody>
    <% for (survey of surveys) { %>
      <tr>
        <td class="text-nowrap"><%= survey.personid %></td>
        <td class="fw-semibold text-nowrap"><div class="text-danger-emphasis"><%= survey.firstname %></div></td>
        <td class="fw-semibold text-nowrap"><div class="text-danger-emphasis"><%= survey.lastname %></div></td>
        <td scope="row">
          <%= survey.eventname %>
        </td>
        <td scope="row">
          <%= new Date(survey.eventstart).toLocaleDateString() %>
        </td>
        <td scope="row">
          <%= survey.surveysatisfactionscore %>
        </td>
        <td scope="row">
          <%= survey.surveyusefulnessscore %>
        </td>
        <td scope="row">
          <%= survey.surveyinstructorscore %>
        </td>
        <td scope="row">
          <%= survey.surveyrecommendationscore %>
        </td>
        <td scope="row">
          <%= survey.surveyoverallscore %>
        </td>
        <% if (session.person.role ==="admin" ) {%>
          <td>
            <div class="d-flex justify-content-end gap-2">
              <% if (survey.surveyoverallscore === null) { %>
                <form action="/surveys/add/<%= survey.personid%>/<%= survey.eventstart%>/<%= survey.eventid%>" method="GET">
                  <input type="submit" name="add" value="Add" class="btn btn-sm btn-outline-secondary" />
                </form>
              <% } %>
              <form action="/surveys/edit/<%= survey.personid%>/<%= survey.eventstart%>/<%= survey.eventid%>" method="GET">
                <input type="submit" name="edit" value="Edit" class="btn btn-sm btn-outline-primary" />
              </form>
              <button class="btn btn-sm btn-outline-danger" onclick="deleteSurvey('<%= survey.personid %>', '<%= survey.eventstart %>', '<%= survey.eventid %>')">Delete</button>
            </div>
          </td>
          
        <%}%>
      </tr>
    <% } %>
  </tbody>
</table>
  </div>
</div>