<table class="table table-striped table-hover surveys-table w-auto mx-auto">
  <thead class="table">
    <tr>
      <th scope="col">Person ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Event Name</th>
      <th scope="col">Event Date</th>
      <th scope="col">Satisfaction Score</th>
      <th scope="col">Usefulness Score</th>
      <th scope="col">Instructor Score</th>
      <th scope="col">Recommendation Score</th>
      <th scope="col">Overall Score</th>
      <% if (session.person.role ==="admin" ) {%>
        <th scope="col" style="width:80px;">Add</th>
        <th scope="col" style="width:90px;">Delete</th>
        <th scope="col" style="width:90px;">Edit</th>
      <%}%>
    </tr>
  </thead>
  <tbody>
    <% for (survey of surveys) { %>
      <tr>
        <td scope="row">
          <%= survey.personid %>
        </td>
        <td scope="row">
          <%= survey.firstname %>
        </td>
        <td scope="row">
          <%= survey.lastname %>
        </td>
        <td scope="row">
          <%= survey.eventname %>
        </td>
        <td scope="row">
          <%= new Date(survey.eventstart).toLocaleDateString() %>
        </td>
        <td scope="row">
          <%= survey.surveysatisfactionscore %>
        </td>
        <td scope="row">
          <%= survey.surveyusefulnessscore %>
        </td>
        <td scope="row">
          <%= survey.surveyinstructorscore %>
        </td>
        <td scope="row">
          <%= survey.surveyrecommendationscore %>
        </td>
        <td scope="row">
          <%= survey.surveyoverallscore %>
        </td>
        <% if (session.person.role ==="admin" ) {%>
          <% if (survey.surveyoverallscore === null) {%>
          <td scope="row" class="action-cell">
            <form action="/surveys/add/<%= survey.personid%>/<%= survey.eventstart%>/<%= survey.eventid%>" method="GET">
              <input type="submit" name="add" value="Add" />
            </form>
          </td>
          <% } else { %>
            <td></td>
          <%}%>
          <td scope="row" class="action-cell">
            <form action="/surveys/edit/<%= survey.personid%>/<%= survey.eventstart%>/<%= survey.eventid%>" method="GET">
              <input type="submit" name="edit" value="Edit" />
            </form>
          </td>
          <td scope="row" class="action-cell">
            <button onclick="deleteSurvey('<%= survey.personid %>', '<%= survey.eventstart %>', '<%= survey.eventid %>')">Delete</button>
          </td>
          
        <%}%>
      </tr>
    <% } %>
  </tbody>
</table>