<!-- This is where donations can be edited when the admin clicks "edit donation". A new date or amount can 
 be entered. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('components/navbar') %>
  <h1>Edit Profile</h1>
  <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
    <p style="color:red;"><%= errorMessage %></p>
  <% } %>
  <div class="container my-4">
    <div class="card shadow-sm">
      <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Edit Profile</h5>
      </div>

      <div class="card-body">
        <form action="/persons/mi/<%= person.personid %>" method="POST" class="row g-3">

        <div class="col-md-4">
          <label for="donationdate" class="form-label">Donation Date</label>
          <input type="datetime-local" id="donationdate" name="donationdate" value="<%= donation.donationdate %>" class="form-control" required>
        </div>
        <div class="col-md-4">
          <label for="donationamount" class="form-label">Donation Amount</label>
          <input type="number"  step="0.01" min="0" placeholder="0.00" id="donationamount" name="donationamount" value="<%= donation.donationamount %>" class="form-control" required>
        </div>

        
        </form>
      </div>
    </div>
  </div>

</body>
</html>