<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Milestones Maintenance</title>
</head>

<body>
  <!-- For backend: in your knex query, do milestonetitle like '%' and if it is like one of these: 
        '%Diploma%', 'BS%', 'BA%', 'MS%', 'MBA', '%MFA%', 'AA%', 'AS%', 'PHD%' then it is a "Diploma" milestone type
        If it is like "%Project%" then it is a "Project" milestone type
        Otherwise it is an "Other" milestone type -->

  <!-- You'll also need to join persons table to get the first and last name -->


  <%- include('components/navbar') %>
    <main class="container-fluid vh-100 d-flex flex-column">
      <div class="py-3">
        <div class="card-body">
          <h1 class="h4 mb-3">Add Milestone</h1>
          <%- include('components/milestones-add-milestone') %>
        </div>
        <div class="d-flex align-items-baseline justify-content-between gap-3 mb-2">
          <h1 class="h3 m-0">Milestones</h1>
          <% if (milestones && milestones.length) { %>
            <div class="text-secondary fs-6">
              <%= milestones.length %> records
            </div>
            <% } %>
        </div>
      </div>

      <% if (milestones.length===0) { %>
        <div class="flex-grow-1 d-flex align-items-center justify-content-center px-3">
          <div class="alert alert-warning m-0" role="alert">
            No milestones found in the database.
          </div>
        </div>
        <% } else { %>
          <div class="card flex-grow-1 d-flex flex-column h-50 overflow-auto">
            <div class="card-header">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-baseline gap-2">
                  <span class="fw-semibold">Milestone Records</span>
                  <% if (milestones && milestones.length) { %>
                    <span class="badge text-bg-secondary">
                      <%= milestones.length %>
                    </span>
                    <% } %>
                </div>
              </div>
              <% if (person.role==="admin" ) {%>

                <div class="text-end">
                  <a href="/milestones/milestones" class="btn btn-primary">Clear</a>
                  <a href="/milestones/addmilestone" class="btn btn-primary">Add Milestone</a>
                </div>
                <%}%>
                  <div class="mt-2">
                    <div class="row g-2">
                      <div class="col-12 col-lg-4">
                        <%- include('components/milestones-email') %>
                      </div>
                      <div class="col-12 col-lg-4">
                        <%- include('components/milestones-milestonedate') %>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="card-body p-0 overflow-auto">
              <div class="table-responsive"><br>
                <%- include('components/milestones-table') %>
              </div>
            </div>
          </div>
          <% } %>
    </main>
</body>

</html>